@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

*{
    margin: 0;
}

body{
    font-family: 'Poppins', sans-serif;
}


img{
    height: 93px;
    width: 157px;
    padding-left: 2rem;
    padding-top: 0rem;
    transform: translateY(-4px)
}

.navi{
    display: flex;
}

.searchbar{
    height: 38px;
    width: 90px;
    border-color: white;
    border-radius: 3px;
    text-align: right;
    background-color: transparent;
    font-weight: bolder;
    color: white;
    /* transform: translateY(23px); */
    transform: translate(-20px,23px);
    outline: none;
}

.searchbar:hover{
    background-color: gray;
    text-align: center;
    cursor: pointer;
}



.button1{
    height: 38px;
    width: 90px;
    border-radius: 3px;
    border-color: rgb(201, 22, 22);
    text-align: center;
    background-color: #c91616;
    color: white;
    transform: translateY(23px);
    outline: none;
    font-size: 17px;

}
button:hover{
    cursor: pointer;
}

   /* transform: translate(30px,7px); */
 




.navi{
    display: flex;
}

.ss{
    width: 82%;
    text-align: right;
    justify-content: space-around;
    gap: 10rem;
    
}

.ss img{
    height: 1rem;
    width: 1rem;
    transform: translate(5px,26px);
}

.bg{
    background-image: url(/bgimage.png);
    background-size: 100%;
   
}

.words{
    padding-bottom: 15px;
    padding-top: 7rem;
}

h1{
    color: white;
    font-size: 48px;
    text-align: center;
    
    
  
  
}

/* .bod{
    transform: translateY(20px);
} */

h2{
    color: white;
    text-align: center;
}

h4{
    color: white;
    text-align: center; 
    margin: 10px;
}

.search{
    /* width: 85%; */
    text-align: center;
    /* margin-left: 378px; */
    height: 290px;
   
    
}
.search input{
    height: 50px;
    width: 400px;
}


.button2 button{
    height: 56px;
    width: 200px;
    border-color: rgb(201, 22, 22);
    background-color: #c91616;
    color: white;
    font-size: larger;
   
    
}

.search-button{
    display: flex;
    justify-content:center;
    
}