@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');


body{
    font-family: 'Poppins', sans-serif;
}


img{
    height: 90px;
    width: 157px;
    padding-left: 2rem;
    padding-top: 0rem;
}

.navi{
    display: flex;
}

.searchbar{
    height: 30px;
    width: 100px;
    text-align: right;
}

.navi i{
   transform: translate(30px,7px);
    /* transform: translateY(10px); */
}

/* .bg{
    background-image: url(/bgimage.png);
} */