@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;500;700&display=swap');




body {
    font-family: 'Josefin Sans', sans-serif;
}

h1 {
    text-align: center;
    color: #1A4D2E;
    margin: 0.5rem;
}

.list2 {
    padding: 0.3rem;
}

h2 {

    color: #0F3D3E;
    padding-left: 0.3rem;
}

h3 {
    color: rgb(50, 50, 129);

}

.header2 {
    text-align: center;
}

.header3 {
    margin-top: 0%;
    margin-bottom: 0.3rem;
    text-align: center;
}

.para {
    text-align: center;
}

img {


    display: block;
    margin: auto;
    width: 490px;
    height: 290px;

}


.sub {
    padding: 0rem 0rem 0rem 1rem;

}

.foot {
    padding: 1rem 1rem 1rem 1rem;

}

.footerline {

    padding: 0.5rem 0.5rem;

}

.footerline i {
    padding-right: 0.5rem;
}

.footerline a {
    color: aqua;
}

footer {
    background-color: black;
    color: white;
    padding: 1rem 2rem 2rem 2rem;
    border-radius: 1rem;

}
/* .contact{
   padding-bottom: rem;
} */



.contact h2 {
    
    text-align: center;
    color: gray;
 

}

h4 {
    padding-left: 0.5rem;
}

link {
    color: white;
}

.footer-inline {

    text-align: center;

}

.flex {
    display: flex;
    justify-content: space-between;
    text-align: center;
}

nav{
    background-color: black;
    padding: 1rem 01rem 0rem 1rem;
    border-radius: 1rem;
    


}
.list-non-bullet{
display: flex;
justify-content: end;
gap: 50px;
margin-left: 55%;
margin-top: 2%;
margin-bottom: 0%;

}

.list-non-bullet .links{
    display: block;
    color: white;
    text-decoration: none;
    font-size: 15px;
   
    
}
.list-item a{
    background-color: black;
    padding: 0.5rem 2rem 0.5rem 2rem;
    border-radius: 0.5rem 0.5rem 0.5rem 0.5rem;
    border: 1px solid white;

}
/* 
#main{
display: flex;
justify-content: space-between ;
width: 300px;
height: 150px;

} */

.logo img{
    width: 100px;
    height: 100px;
    transform: translateY(-8px);
   
    
 
    

}

.navi {
    display: flex;

    
}

